/* @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap'); */
@import "tailwindcss";

:root {
  --background: #f0f0f0f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
      /* --background: #0a0a0a;
      --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Kantumruy Pro", sans-serif; */
}
